<div>
    <div style="display: inline-block;">
        <img src="/image/<%= product.pro_image %>" alt="" style="width: 12rem;height: 12rem;">
    </div>
    <div style="display: inline-block;vertical-align: top;text-align: initial;padding-left: 1rem;">
        <p>Name: <%= product.pro_name %></p>
        <p>Category: <%= product.cat_name %></p>
        <p>Supplier:<%= product.supplier_name %> </p>
        <p>Price: $<%=product.price %></p>
        <p>Quantity: <%= product.quantity %></p>
        <p>Shop: <%= product.shop_name %> </p>
    </div>
</div>